.container
{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    margin: 0px 0px !important;
    width: 100vw !important;
}

header, footer
{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

header
{
    height: 5vh !important;
}

main
{
    height: 85vh !important;
    width: 100vw !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

footer
{
    height: 10vh !important;
    width: 100vw !important;
}

.center-itens
{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.title
{
    font-size: 20px;
    margin: 0px;
}

.text-list
{
    font-size: 18px;
}

.list-container
{
    justify-content: space-between !important;
}

.check-center::before, .check-center::after
{
    top: 30% !important;
}